@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

*{
    padding: 0;
    margin: 0;
}

body, html, main {
    width: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    background-color: #555555;
}

header{
    padding: 0 20% 0;
    color: #ffffff;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: #444444;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo .sp{
    color: orange;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 0 20px 0;
}

nav a:hover{
    background-color: orange;
}

.logo span {
    font-size: 30px;
    font-family: 'Suez One', serif;
    font-weight: 200;
} 


main {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main h1{
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.games_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.games_list a{
    color: #cccccc;
    display: block;
    width: 47%;
    min-width: 47%;
    text-decoration: none;
    transition: all 0.4s ease;
}

.games_list a:hover{
    transform: scale(1.1);
}

.games_list p{
    margin-top: 30px;
    margin-bottom: 40px;
}

.game{
    width: 100%;
}

.game img{
    width: 100%;
    height: 270px;
    border-radius: 10px; 

}

footer{
    display: inline-block;
    color: #aaaaaa;
    height: 60px;
    background-color: #444444;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

@media (max-width: 500px){

    .logo{
        width: 100%;
    }
    header {
        height: 120px;
    }
    main h1{
        font-size: 2em;
    }
    .games_list{
        flex-direction: column; 
        justify-content: flex-start; 
    }
    .games_list a{
        width: 100%;
    }
    .game img{
        height: 200px; 
    }

}

.info{
    padding: 20px 10px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #444444;
}

.info img{
    width: 30%;
    height: 200px;
    border-radius: 10px;
}

.info div{
    padding: 10px;
}

.info h1{
    color: orange;
    text-align: center;
    font-family: 'Suez One', serif;
    font-weight: 200;
}

.info div p{
    color: #bbbbbb;
    padding: 0 20px;
}

.game_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside{
    width: 20%;
    margin-right: 10%;    
}

.topic_list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border-radius: 10px;
    background-color: #444444;
}

.topic_list ul{
    align-self: center;
    list-style-type: none;
    font-family: 'Suez One', serif;
}

.topic_list ul li{
    position: relative;
    line-height: 50px;
    font-size: 1.2em;
    vertical-align: middle;
}

.topic_list ul li:not(:last-child){
border-bottom: 2px dashed #aaaaaa;
}

.topic_list ul li::before{
    content: "#";
    position: absolute;
    color: orange;
    font-size: 2em;
    left: -30px;
}

.topic_list ul li a{
    text-decoration: none;
    color: white;
}

.topic_list ul li a:hover{
    color: #dddddd;
}

.wall{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post{
    padding: 10px;
    margin-bottom: 30px;
    color: #bbbbbb;
    background-color: #444444;
    border-radius: 10px;
}
.post_head{
    font-style:italic;
    text-align: right;
}

.post_body{
    margin: 10px 
}

.post h2{
    color: white;
    margin-bottom: 10px;
}
